.profilecardButtons{
    display: flex;
    align-items: center;
    border: transparent;
    background: transparent;
    padding: 1em;
    cursor: pointer;
}
.buttonLabel{
    padding-left: 0.75em;
}
.profile-card{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2.5px;
}