<div class="homepage">
    <div class="heading">
        <div>Restaruant Management</div>
        <button  mat-button class="loginsignupbutton" (click)="openDialog('400ms', '400ms')" >Login/SignUp</button>
    </div>
    <div class="mainbody">
        
    </div>
        
    <div class="footer">
        <div class="animationdiv">
            <div class="wave1"></div>
            <div class="wave2"></div>
            <div class="wave3"></div>
            <div class="wave4"></div>
        </div>
        <div class="footerdiv">
            <div>
                <button mat-button>Home</button>
                <button mat-button>About</button>
                <button mat-button>Contact us</button>
                <button mat-button>Request call</button>
            </div>
            <div>
                <p><b>All rights are reserved</b></p>
            </div>
            
        </div>
        
    </div>
</div>
