.menupart{
    display: flex;
    align-items: center;
}
.headerpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconSize{
    font-size: larger;
}
.profilemenu{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid orange;
}
.profilecardButtons{
    display: flex;
    align-items: center;
    border: transparent;
    background: transparent;
    padding: 1em;
    cursor: pointer;
}
.buttonLabel{
    padding-left: 0.75em;
}
.profile-card{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2.5px;
}
.dashboardBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
.mainBody{
    flex: 1;
    display: flex;
}

@keyframes showSideBar {
    from { display: none; }
    to { transform: translateX(0px); opacity: 0;}
}
@keyframes hideSideBar {
    from { display: block; }
    to { transform: translateX(0px); opacity: 0;}
}
.hideSideBar{
    animation: hideSideBar 8000ms;
    animation-direction: alternate;
    display: none;
}
.displaySideBar{
    animation: showSideBar 8000ms;
    animation-direction: alternate-reverse;
    display: block;
}